dashboard_frontend/flows.json
[
    {
        "id": "3bb1fc53f5e74346",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da75828996f98e22",
        "type": "ui_chart",
        "z": "3bb1fc53f5e74346",
        "name": "Temperature Trend",
        "group": "9067b8ee8e786248",
        "order": 3,
        "width": "16",
        "height": "8",
        "label": "Temperature History",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ef4444",
            "#f97316",
            "#f8a10d",
            "#a21111",
            "#c55f16",
            "#af7612",
            "#7a3333",
            "#8c4b1d",
            "#8a682e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "26b7e70b991c905c",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Temp Extract",
        "func": "// New Code for Temp Extract (ID: 26b7e70b991c905c)\n// --- SAFETY CHECK ---\n// Ensure msg.payload is a valid object and has the 'temp' property\nif (typeof msg.payload !== 'object' || msg.payload === null || !msg.payload.temp) {\n    return null; // Stop processing bad messages\n}\n// --- Process valid message ---\nreturn {\n    payload: msg.payload.temp,\n    topic: msg.payload.room, \n    // The timestamp is needed by the chart\n    timestamp: new Date().getTime() \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "da75828996f98e22",
                "d27a590c76244c6e"
            ]
        ]
    },
    {
        "id": "6914c38163c80bf0",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "CSS",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<style>\n    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');\n\n    /* --- 1. MAIN CARD STYLE --- */\n    .sensor-card {\n        background: rgba(15, 23, 42, 0.85);\n        backdrop-filter: blur(20px);\n        border-radius: 24px;\n        border: 1px solid rgba(6, 182, 212, 0.3);\n        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);\n        padding: 30px;\n        width: 100%;\n        max-width: 900px;\n        min-height: 520px;\n        box-sizing: border-box;\n        margin: 0 auto;\n        display: flex;\n        flex-direction: column;\n        position: relative;\n        overflow: hidden;\n    }\n\n    /* Top Glow Bar */\n    .sensor-card::before {\n        content: '';\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 3px;\n        background: linear-gradient(90deg, transparent, #06b6d4, transparent);\n    }\n\n    /* --- 2. HEADER --- */\n    .room-header {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        margin-bottom: 25px;\n        padding-bottom: 15px;\n        border-bottom: 1px solid rgba(148, 163, 184, 0.1);\n    }\n\n    .room-name {\n        font-size: 32px;\n        font-weight: 800;\n        color: #fff;\n        letter-spacing: 1px;\n        margin: 0;\n    }\n\n    .room-sub {\n        font-size: 12px;\n        color: #06b6d4;\n        text-transform: uppercase;\n        letter-spacing: 2px;\n        margin-top: 4px;\n    }\n\n    /* --- THE DYNAMIC BADGE --- */\n    .status-badge {\n        padding: 6px 16px;\n        border-radius: 20px;\n        font-size: 12px;\n        font-weight: 800;\n        text-transform: uppercase;\n        letter-spacing: 1.5px;\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        transition: all 0.5s ease;\n    }\n\n    /* GREEN STATE (Active) */\n    .badge-green {\n        background: rgba(34, 197, 94, 0.15);\n        color: #4ade80;\n        border: 1px solid #22c55e;\n        box-shadow: 0 0 12px rgba(34, 197, 94, 0.4);\n    }\n\n    .badge-green .status-dot {\n        background-color: #4ade80;\n        animation: blink 2s infinite;\n    }\n\n    /* RED STATE (Idle/Inactive) */\n    .badge-red {\n        background: rgba(248, 113, 113, 0.15);\n        color: #f87171;\n        border: 1px solid #ef4444;\n        box-shadow: 0 0 12px rgba(248, 113, 113, 0.4);\n    }\n\n    .badge-red .status-dot {\n        background-color: #f87171;\n        box-shadow: none;\n    }\n\n    /* Blinking Dot Animation */\n    .status-dot {\n        width: 8px;\n        height: 8px;\n        border-radius: 50%;\n    }\n\n    @keyframes blink {\n        0% {\n            opacity: 1;\n            box-shadow: 0 0 5px currentColor;\n        }\n\n        50% {\n            opacity: 0.4;\n            box-shadow: none;\n        }\n\n        100% {\n            opacity: 1;\n            box-shadow: 0 0 5px currentColor;\n        }\n    }\n\n    /* --- 3. LAYOUT & TILES --- */\n    .dashboard-split {\n        display: flex;\n        flex: 1;\n        gap: 30px;\n    }\n\n    .left-panel {\n        flex: 0 0 280px;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        gap: 35px;\n        border-right: 1px solid rgba(255, 255, 255, 0.05);\n        padding-right: 25px;\n    }\n\n    .circular-metric {\n        position: relative;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .circle-bg {\n        fill: none;\n        stroke: rgba(255, 255, 255, 0.05);\n        stroke-width: 12;\n    }\n\n    .circle-progress {\n        fill: none;\n        stroke-width: 12;\n        stroke-linecap: round;\n        transform: rotate(-90deg);\n        transform-origin: 50% 50%;\n        transition: stroke-dashoffset 1s ease;\n    }\n\n    .circle-inner-text {\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        text-align: center;\n        pointer-events: none;\n    }\n\n    .val-text {\n        font-size: 28px;\n        font-weight: 700;\n        color: white;\n        line-height: 1;\n    }\n\n    .unit-text {\n        font-size: 11px;\n        color: #94a3b8;\n        text-transform: uppercase;\n        margin-top: 4px;\n    }\n\n    .donut-label {\n        margin-top: 12px;\n        color: #06b6d4;\n        font-size: 12px;\n        letter-spacing: 1px;\n        text-transform: uppercase;\n        font-weight: 600;\n    }\n\n    .right-panel {\n        flex: 1;\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        grid-template-rows: 1fr 1fr;\n        gap: 18px;\n        padding-left: 25px;\n    }\n\n    .data-tile {\n        background: rgba(255, 255, 255, 0.03);\n        border: 1px solid rgba(255, 255, 255, 0.05);\n        border-radius: 16px;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        padding: 20px;\n        transition: all 0.3s ease;\n        min-height: 140px;\n    }\n\n    .data-tile.active-sensor:hover {\n        background: rgba(255, 255, 255, 0.08);\n        border-color: rgba(6, 182, 212, 0.4);\n        transform: translateY(-3px);\n    }\n\n    .data-tile.disabled-sensor {\n        opacity: 0.4;\n        border-style: dashed;\n    }\n\n    .tile-icon {\n        font-size: 28px;\n        margin-bottom: 12px;\n        color: #94a3b8;\n    }\n\n    .tile-val {\n        font-size: 32px;\n        font-weight: 700;\n        color: #fff;\n        line-height: 1;\n    }\n\n    .tile-label {\n        font-size: 10px;\n        color: #64748b;\n        text-transform: uppercase;\n        margin-top: 8px;\n        letter-spacing: 1px;\n    }\n\n    .tile-accent-yellow {\n        color: #facc15;\n    }\n\n    .tile-accent-purple {\n        color: #c084fc;\n    }\n\n    .tile-accent-blue {\n        color: #60a5fa;\n    }\n\n    .tile-accent-red {\n        color: #f87171;\n    }\n\n    /* --- DROPDOWN GLOW EFFECT --- */\n    .dropdown-menu,\n    .md-select-menu-container,\n    select:focus,\n    md-select-menu md-content,\n    .md-open-menu-container {\n        box-shadow: 0 0 20px rgba(6, 182, 212, 0.6),\n            0 0 40px rgba(6, 182, 212, 0.3),\n            0 8px 32px rgba(0, 0, 0, 0.4) !important;\n        border: 1px solid rgba(6, 182, 212, 0.5) !important;\n    }\n</style>\n\n<div class=\"sensor-card\">\n    <div class=\"room-header\">\n        <div>\n            <h2 class=\"room-name\">{{msg.payload.room}}</h2>\n            <div class=\"room-sub\">Live Monitor</div>\n        </div>\n\n        <div class=\"status-badge\" ng-class=\"{\n                'badge-green': (!msg.payload.status || msg.payload.status === 'Active' || msg.payload.status === 'ACTIVE'),\n                'badge-red': (msg.payload.status === 'idle' || msg.payload.status === 'Idle')\n             }\">\n            <div class=\"status-dot\"></div>\n            {{msg.payload.status || 'ACTIVE'}}\n        </div>\n    </div>\n\n    <div class=\"dashboard-split\">\n        <div class=\"left-panel\">\n            <div class=\"circular-metric\">\n                <svg width=\"140\" height=\"140\">\n                    <circle class=\"circle-bg\" cx=\"70\" cy=\"70\" r=\"60\"></circle>\n                    <defs>\n                        <linearGradient id=\"gradTemp\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n                            <stop offset=\"0%\" style=\"stop-color:#f87171;stop-opacity:1\" />\n                            <stop offset=\"100%\" style=\"stop-color:#fb923c;stop-opacity:1\" />\n                        </linearGradient>\n                    </defs>\n                    <circle class=\"circle-progress\" cx=\"70\" cy=\"70\" r=\"60\"\n                        ng-style=\"{'stroke': 'url(#gradTemp)', 'stroke-dasharray': 377, 'stroke-dashoffset': 377 - (377 * msg.payload.temp / 50)}\">\n                    </circle>\n                </svg>\n                <div class=\"circle-inner-text\">\n                    <div class=\"val-text\">{{msg.payload.temp}}°</div>\n                    <div class=\"unit-text\">Celsius</div>\n                </div>\n                <div class=\"donut-label\">Temperature</div>\n            </div>\n            <div class=\"circular-metric\">\n                <svg width=\"140\" height=\"140\">\n                    <circle class=\"circle-bg\" cx=\"70\" cy=\"70\" r=\"60\"></circle>\n                    <defs>\n                        <linearGradient id=\"gradHum\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n                            <stop offset=\"0%\" style=\"stop-color:#22d3ee;stop-opacity:1\" />\n                            <stop offset=\"100%\" style=\"stop-color:#3b82f6;stop-opacity:1\" />\n                        </linearGradient>\n                    </defs>\n                    <circle class=\"circle-progress\" cx=\"70\" cy=\"70\" r=\"60\"\n                        ng-style=\"{'stroke': 'url(#gradHum)', 'stroke-dasharray': 377, 'stroke-dashoffset': 377 - (377 * msg.payload.humidity / 100)}\">\n                    </circle>\n                </svg>\n                <div class=\"circle-inner-text\">\n                    <div class=\"val-text\">{{msg.payload.humidity}}%</div>\n                    <div class=\"unit-text\">RH</div>\n                </div>\n                <div class=\"donut-label\">Humidity</div>\n            </div>\n        </div>\n\n        <div class=\"right-panel\">\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.light !== undefined, 'disabled-sensor': msg.payload.light === undefined}\">\n                <i class=\"fas fa-lightbulb tile-icon\" ng-class=\"{'tile-accent-yellow': msg.payload.light !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.light !== undefined\">{{msg.payload.light}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.light === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">Light (Lux)</div>\n            </div>\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.noise !== undefined, 'disabled-sensor': msg.payload.noise === undefined}\">\n                <i class=\"fas fa-volume-up tile-icon\" ng-class=\"{'tile-accent-purple': msg.payload.noise !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.noise !== undefined\">{{msg.payload.noise}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.noise === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">Noise (dB)</div>\n            </div>\n            <div class=\"data-tile active-sensor\">\n                <i class=\"fas fa-users tile-icon tile-accent-blue\"></i>\n                <div class=\"tile-val\">{{msg.payload.occupancy}}</div>\n                <div class=\"tile-label\">Occupancy</div>\n            </div>\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.co2 !== undefined, 'disabled-sensor': msg.payload.co2 === undefined}\">\n                <i class=\"fas fa-wind tile-icon\" ng-class=\"{'tile-accent-red': msg.payload.co2 !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.co2 !== undefined\">{{msg.payload.co2}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.co2 === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">CO2 (ppm)</div>\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "db0690e7110a8d2f",
        "type": "ui_dropdown",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "label": "Select Room",
        "tooltip": "",
        "place": "Select option",
        "group": "4fba22e4d226f107",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "CR-24",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-25",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-26",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-27",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-28",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lab-10",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lab-11",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lab-12",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "3a1ad7cd811466b6"
            ]
        ]
    },
    {
        "id": "21fedc99397e4099",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Filter Room",
        "func": "// New Code for Filter Room (ID: 21fedc99397e4099)\n// 1. Get the selection\nlet selected = flow.get('selectedRoom') || \"CR-24\";\n\n// --- SAFETY CHECK ---\nif (typeof msg.payload !== 'object' || msg.payload === null || !msg.payload.room) {\n    return null; // Ignore invalid messages\n}\n\n// 2. Print the comparison to the Debug Tab (This will now print the correct room name)\nnode.warn(\"COMPARING: Selected=['\" + selected + \"'] vs Incoming=['\" + msg.payload.room + \"']\");\n\n// 3. Filter\nif (msg.payload.room === selected) {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "24ba22f04a5d73bb"
            ]
        ]
    },
    {
        "id": "3a1ad7cd811466b6",
        "type": "change",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedRoom",
                "pt": "flow",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "56f9b8f6e11551e7"
            ]
        ]
    },
    {
        "id": "bcf2c15e8014173f",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Humidity Extract",
        "func": "// New Code for Humidity Extract\n// --- SAFETY CHECK ---\n// Ensure msg.payload is a valid object and has the 'humidity' property\nif (typeof msg.payload !== 'object' || msg.payload === null || !msg.payload.humidity) {\n    return null; // Stop processing bad messages\n}\nreturn {\n    payload: msg.payload.humidity,\n    topic: msg.payload.room,      // Changed from 'roomId' to 'room'\n    timestamp: new Date().getTime()\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "850b7f0e52d2b9fd"
            ]
        ]
    },
    {
        "id": "850b7f0e52d2b9fd",
        "type": "ui_chart",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "group": "9067b8ee8e786248",
        "order": 4,
        "width": "16",
        "height": "8",
        "label": "Humidity Trend",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#604def",
            "#2a1c97",
            "#095086",
            "#486993",
            "#283d58",
            "#261d67",
            "#5a88c4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f4385ced41a0f988",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Occupancy Extract",
        "func": "// --- SAFETY CHECK ---\n// Ensure msg.payload is a valid object and has the 'temp' property\nif (typeof msg.payload !== 'object' || msg.payload === null || !msg.payload.occupancy) {\n    return null; // Stop processing bad messages\n}\nreturn {\n    payload: msg.payload.occupancy,\n    topic: msg.payload.room,\n    timestamp: new Date().getTime()\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "4ff683c69a27d8b0"
            ]
        ]
    },
    {
        "id": "4ff683c69a27d8b0",
        "type": "ui_chart",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "group": "4fba22e4d226f107",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "Room Usage (People)",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#22c55e",
            "#10b981",
            "#84cc16",
            "#2ca02c",
            "#98df8a",
            "#0c7954",
            "#496222",
            "#2a7446",
            "#407236"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "93dfe5bcc9230d74",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "Sub header",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(6, 182, 212, 0.15), transparent); /* Cyan Fade */\n    border-left: 4px solid #06b6d4; /* Solid Cyan Bar */\n    padding: 12px 16px;\n    margin-top: 30px;\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Bigger Size */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(6, 182, 212, 0.6); /* Cyan Glow */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-history\" style=\"margin-right: 12px; color: #22d3ee;\"></i>\n        Usage History\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 90,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9b62bcc0868185af",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "Header (Activity)",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(6, 182, 212, 0.15), transparent); /* Cyan Fade */\n    border-left: 4px solid #06b6d4; /* Solid Cyan Bar */\n    padding: 12px 16px;\n    margin-top: 30px;\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Much Bigger */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(6, 182, 212, 0.6); /* Glowing Text */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-users\" style=\"margin-right: 12px; color: #22d3ee;\"></i>\n        Zone Activity\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "876e35b76c4da714",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "9067b8ee8e786248",
        "name": "Custom Table",
        "order": 5,
        "width": "16",
        "height": "6",
        "format": "<style>\n    /* Pure CSS - No hacking required */\n    .cyber-table {\n        width: 100%;\n        border-collapse: collapse;\n        font-family: 'Helvetica Neue', Arial, sans-serif;\n    }\n\n    /* Header Style */\n    .cyber-table th {\n        color: #06b6d4;\n        /* Cyan */\n        font-weight: 700;\n        text-transform: uppercase;\n        font-size: 12px;\n        padding: 10px;\n        text-align: center;\n        border-bottom: 1px solid rgba(6, 182, 212, 0.4);\n        background-color: rgba(15, 23, 42, 0.8);\n    }\n\n    /* Row Styles */\n    .cyber-table td {\n        color: #cbd5e1;\n        /* Grey-Blue */\n        padding: 8px;\n        text-align: center;\n        font-size: 13px;\n        border-top: 1px solid rgba(255, 255, 255, 0.05);\n    }\n\n    /* Alternating Colors */\n    .cyber-table tr:nth-child(even) {\n        background-color: rgba(255, 255, 255, 0.03);\n    }\n\n    .cyber-table tr:hover {\n        background-color: rgba(6, 182, 212, 0.1);\n    }\n\n    /* Container Scrollbar */\n    .table-container {\n        height: 100%;\n        overflow-y: auto;\n    }\n</style>\n\n<div class=\"table-container\">\n    <table class=\"cyber-table\">\n        <thead>\n            <tr>\n                <th>TIME</th>\n                <th>ROOM</th>\n                <th>TEMPERATURE</th>\n                <th>HUMIDITY</th>\n                <th>PEOPLE</th>\n                <th>NOISE</th>\n                <th>LIGHT</th>\n                <th>CO2</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr ng-repeat=\"row in msg.payload\">\n                <td>{{row.timestamp}}</td>\n                <td style=\"color: #fff; font-weight: bold;\">{{row.room}}</td>\n                <td>{{row.temp}}°C</td>\n                <td>{{row.humidity}}%</td>\n                <td>{{row.occupancy}}</td>\n                <td>{{row.noise || '-'}}</td>\n                <td>{{row.light || '-'}}</td>\n                <td>{{row.co2 || '-'}}</td>\n            </tr>\n        </tbody>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2858e0e38ad7cd9f",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "9067b8ee8e786248",
        "name": "Header (Trends)",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(249, 115, 22, 0.15), transparent); /* Orange Fade */\n    border-left: 4px solid #f97316; /* Solid Orange Bar */\n    padding: 12px 16px;\n    margin-top: 30px; /* Extra space to separate from the graphs above */\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Much Bigger */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(249, 115, 22, 0.6); /* Glowing Text */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-chart-line\" style=\"margin-right: 12px; color: #fb923c;\"></i>\n        Environmental Trends\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0d2b15840726fa01",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "9067b8ee8e786248",
        "name": "Header (table)",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(249, 115, 22, 0.15), transparent); /* Orange Fade */\n    border-left: 4px solid #f97316; /* Solid Orange Bar */\n    padding: 12px 16px;\n    margin-top: 30px; /* Extra space to separate from the graphs above */\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff;\n        font-size: 18px;\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(249, 115, 22, 0.6);\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-list-ul\" style=\"margin-right: 12px; color: #fb923c;\"></i>\n        Sensor Data Logs\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 80,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ee723911549d29b6",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "Dropdown",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n        var css = `\n            /* --- 1. THE LABEL (Always Glowing, even when selected) --- */\n            /* Standard State */\n            md-input-container label {\n                color: #22d3ee !important;\n                font-family: 'Helvetica Neue', sans-serif !important;\n                text-transform: uppercase !important;\n                font-weight: 700 !important;\n                text-shadow: 0 0 10px rgba(34, 211, 238, 0.8) !important;\n            }\n            \n            /* The \"Floated\" State (When a room is selected) */\n            md-input-container.md-input-has-value label,\n            md-input-container.md-input-focused label {\n                color: #22d3ee !important; \n                text-shadow: 0 0 12px rgba(34, 211, 238, 1) !important;\n                opacity: 1 !important;\n                transform: translate3d(0, 6px, 0) scale(0.9) !important; /* Force position */\n            }\n\n            /* --- 2. THE SELECTED TEXT (\"CR-27\") --- */\n            md-select .md-select-value span:first-child {\n                color: #ffffff !important;\n                font-size: 18px !important;\n                font-weight: 700 !important;\n                text-shadow: 0 0 12px rgba(34, 211, 238, 0.9) !important;\n                margin-top: 4px;\n            }\n\n            /* --- 3. THE UNDERLINE --- */\n            md-select .md-select-value {\n                border-bottom: 2px solid #22d3ee !important;\n                box-shadow: 0 4px 10px -2px rgba(34, 211, 238, 0.5);\n            }\n\n            /* --- 4. THE PLACEHOLDER (\"Select option\") --- */\n            md-select .md-select-value .md-select-placeholder {\n                color: #22d3ee !important;\n                opacity: 0.8 !important;\n            }\n            \n            /* --- 5. THE ARROW --- */\n            md-select .md-select-icon {\n                color: #22d3ee !important;\n            }\n        `;\n\n        var style = document.createElement('style');\n        style.type = 'text/css';\n        if (style.styleSheet){\n            style.styleSheet.cssText = css;\n        } else {\n            style.appendChild(document.createTextNode(css));\n        }\n        document.getElementsByTagName('head')[0].appendChild(style);\n    })();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "56f9b8f6e11551e7"
            ]
        ]
    },
    {
        "id": "a5fe5d9ab27e2c7e",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "top bar styler",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n        var css = `\n            /* 1. FORCE THE BAR HEIGHT (Tall & Dark) */\n            md-toolbar {\n                height: 100px !important;\n                min-height: 100px !important;\n                max-height: 100px !important;\n                background-color: rgb(15, 23, 42) !important;\n                border-bottom: 3px solid #06b6d4 !important; /* Cyan Laser */\n                z-index: 50 !important;\n            }\n\n            /* 2. FORCE THE TEXT TO CENTER */\n            md-toolbar h1 {\n                position: fixed !important;\n                top: 0 !important;\n                left: 0 !important;\n                width: 100% !important;\n                height: 100px !important;\n                line-height: 100px !important;\n                text-align: center !important;\n                margin: 0 !important;\n                pointer-events: none !important;\n                z-index: 60 !important;\n                \n                /* 3. NEON STYLE - SOFTER VERSION */\n                font-family: 'Helvetica Neue', sans-serif !important;\n                font-size: 36px !important;\n                font-weight: 900 !important;\n                text-transform: uppercase !important;\n                letter-spacing: 4px !important;\n                color: #ffffff !important;\n                \n                /* 4. TRIPLE GLOW LAYER - REDUCED INTENSITY */\n                text-shadow: \n                    0 0 5px rgba(255, 255, 255, 0.6),  /* Softer White Core */\n                    0 0 15px rgba(6, 182, 212, 0.5),   /* Softer Cyan Inner */\n                    0 0 30px rgba(6, 182, 212, 0.3) !important; /* Subtle Outer Halo */\n            }\n\n            /* 5. FIX THE MENU BUTTON */\n            .md-toolbar-tools > button {\n                z-index: 70 !important;\n                margin-top: 20px !important;\n                color: #06b6d4 !important;\n            }\n            \n            .md-toolbar-tools {\n                display: block !important;\n            }\n        `;\n\n        var style = document.createElement('style');\n        style.type = 'text/css';\n        if (style.styleSheet){\n            style.styleSheet.cssText = css;\n        } else {\n            style.appendChild(document.createTextNode(css));\n        }\n        document.getElementsByTagName('head')[0].appendChild(style);\n    })();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 90,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "037b82f710f596c5",
        "type": "mqtt in",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "topic": "campus/+/all_sensors",
        "qos": "0",
        "datatype": "json",
        "broker": "d0ccce8ee3c65285",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "941db3e996670322",
                "272b0c9164febd53",
                "26b7e70b991c905c",
                "bcf2c15e8014173f",
                "f4385ced41a0f988",
                "21fedc99397e4099",
                "32571270377274eb"
            ]
        ]
    },
    {
        "id": "941db3e996670322",
        "type": "mongodb out",
        "z": "3bb1fc53f5e74346",
        "mongodb": "5ea3a45ea69e25e3",
        "name": "campusdb",
        "collection": "sensor_logs",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "56f9b8f6e11551e7",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Build Aggregation Query",
        "func": "// Function: Build Query (Final Version adapted for fixed 'find' operation)\n// ---------------------------------------------------------------------\n// This function prepares the message for the MONGODB IN node to fetch the \n// single, latest record for the selected room.\n\nconst roomId = msg.payload; \n\n// 1. Set the collection name (required by the MongoDB node)\nmsg.collection = \"sensor_logs\";\n\n// 2. Set the Filter/Query payload to match the room ID.\n// The MONGODB IN node using 'find' will automatically use msg.payload \n// as the MongoDB query filter.\nmsg.payload = { room: roomId };\n\n// 3. Set msg.sort to order the results.\n// { timestamp: -1 } means sort by the 'timestamp' field in descending order (latest first).\nmsg.sort = { timestamp: -1 };\n\n// 4. Set msg.limit to 1.\n// This ensures only the single most recent document is retrieved.\nmsg.limit = 1;\n\n// Retain the room ID for error handling in the next function\nmsg.room = roomId; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 760,
        "wires": [
            [
                "123d7c9539cf7aaa"
            ]
        ]
    },
    {
        "id": "123d7c9539cf7aaa",
        "type": "mongodb in",
        "z": "3bb1fc53f5e74346",
        "mongodb": "5ea3a45ea69e25e3",
        "name": "Fetch Latest Record",
        "collection": "sensor_logs",
        "operation": "find",
        "x": 1140,
        "y": 780,
        "wires": [
            [
                "e4dc21ca0e3bf02a"
            ]
        ]
    },
    {
        "id": "e4dc21ca0e3bf02a",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Clean Data & Map Status",
        "func": "// Function: Clean Data & Map Status\n// This function performs two main tasks:\n// 1. Extracts the single sensor document from the array returned by MongoDB.\n// 2. Translates the Python script's 'status' values (\"ok\", \"warning\", \"error\") \n//    into the UI's expected states (\"active\" or \"idle\").\n// 3. Provides a clean, standardized payload to the dashboard widgets.\n\nconst result = msg.payload;\nconst roomId = msg.room || 'N/A'; // Retrieved from the previous Build Query function\n\n// The dashboard UI expects only 'active' or 'idle' for ng-class styling (Green/Red).\nfunction translateStatus(rawStatus) {\n    if (!rawStatus) return \"idle\";\n    const statusLower = String(rawStatus).toLowerCase();\n\n    // Map Python's \"ok\" to UI's \"active\" (Green)\n    if (statusLower === \"ok\") {\n        return \"active\";\n    }\n    // Map \"warning\" and \"error\" (or any other value) to UI's \"idle\" (Red)\n    return \"idle\";\n}\n\n// Check if a document was successfully returned\nif (Array.isArray(result) && result.length > 0) {\n    let rawData = result[0];\n\n    // Build the final, clean payload for the dashboard.\n    // We explicitly construct the object to ensure all required keys are present, \n    // even if a sensor is missing from the room type (e.g., CO2 in CR-24).\n    msg.payload = {\n        room: rawData.room,\n        timestamp: rawData.timestamp,\n\n        // Core required sensor data\n        temp: rawData.temp || 0.0,\n        humidity: rawData.humidity || 0.0,\n        occupancy: rawData.occupancy || 0,\n\n        // Use the translated status for dynamic UI styling\n        status: translateStatus(rawData.status),\n\n        // Secondary sensor data (use 0/0.0 as fallbacks)\n        co2: rawData.co2 || 0,\n        noise: rawData.noise || 0.0,\n        light: rawData.light || 0.0\n    };\n\n} else {\n    // CRITICAL: If no data is found (e.g., on initial load before data is inserted), \n    // send a default, standardized payload to prevent errors in the UI widgets \n    // and ensure the status badge defaults to Red/Idle.\n    node.warn(`No sensor data found for room: ${roomId}. Sending default payload.`);\n\n    msg.payload = {\n        room: roomId,\n        timestamp: new Date().toISOString(),\n        temp: 0.0,\n        humidity: 0.0,\n        occupancy: 0,\n        status: \"idle\", // Default to Red/Idle\n        co2: 0,\n        noise: 0.0,\n        light: 0.0\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 760,
        "wires": [
            [
                "6914c38163c80bf0"
            ]
        ]
    },
    {
        "id": "d27a590c76244c6e",
        "type": "debug",
        "z": "3bb1fc53f5e74346",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "272b0c9164febd53",
        "type": "debug",
        "z": "3bb1fc53f5e74346",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "32571270377274eb",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "History Manager",
        "func": "// Function: History Log Manager\n// This creates a scrolling log of the last 20 events.\n\n// 1. Get the existing log array from flow memory (or initialize if empty)\nvar historyLog = context.get('historyLog') || [];\n\n// 2. Create a new, clean entry for the log.\n// Note: We use toLocaleTimeString() to get a nice, readable timestamp.\nvar newEntry = {\n    timestamp: new Date().toLocaleTimeString('en-US'),\n    room: msg.payload.room,\n    temp: msg.payload.temp,\n    humidity: msg.payload.humidity,\n    occupancy: msg.payload.occupancy,\n    // Include all other relevant sensor data fields for the table\n    light: msg.payload.light || '-',\n    noise: msg.payload.noise || '-',\n    co2: msg.payload.co2 || '-'\n};\n\n// 3. Add the new entry to the TOP of the array (unshift)\nhistoryLog.unshift(newEntry);\n\n// 4. Limit the log size to prevent memory issues (keeps last 20 entries)\nif (historyLog.length > 20) {\n    historyLog.pop(); // Remove the oldest entry from the bottom\n}\n\n// 5. Save the updated log back to memory\ncontext.set('historyLog', historyLog);\n\n// 6. Send the array as the payload to the Custom Table\nmsg.payload = historyLog;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 220,
        "wires": [
            [
                "876e35b76c4da714"
            ]
        ]
    },
    {
        "id": "24ba22f04a5d73bb",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "calculate status",
        "func": "// Function: Calculate Status based on Occupancy\n\n// NOTE: msg.payload already contains all sensor data (room, temp, humidity, etc.)\n\nvar occupancy = msg.payload.occupancy;\n\n// 1. Set a default status (safe fallback)\nmsg.payload.status = \"Idle\";\n\n// 2. Check if the room is active (occupancy > 0)\nif (occupancy && occupancy > 0) {\n    msg.payload.status = \"Active\";\n}\n\n// 3. Ensure the timestamp is fresh for the card display\nmsg.payload.timestamp = new Date().toLocaleTimeString('en-US');\n\n// Return the FULL msg object, preserving ALL original data fields\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "6914c38163c80bf0"
            ]
        ]
    },
    {
        "id": "9067b8ee8e786248",
        "type": "ui_group",
        "name": "Trends",
        "tab": "tab1",
        "order": 5,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fba22e4d226f107",
        "type": "ui_group",
        "name": "Activity",
        "tab": "tab1",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0ccce8ee3c65285",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ea3a45ea69e25e3",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "campusdb",
        "name": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "IoT Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "a8ebfa074463bf32",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mongodb": "0.2.5"
        }
    }
]